@use '../helpers' as *;
.list {
	display: flex;
	flex-direction: column;
	row-gap: rem(15);
	&__item {
		font-size: rem(18);
		display: flex;
		align-items: center;
		column-gap: rem(10);
		color: black;
		svg {
			fill: black;
		}
	}
	&__link {
	}
}
